body {
  background: url(../images/background4.jpg);
  padding: 0 0;
  margin: 0 0;
}

h1 {
  font-family: 'Fredoka One', sans-serif;
  margin-top: -0.1em;
  margin-bottom: 0.2em;
  text-shadow: 2px 2px lightgray;
  font-size: 3em;
}

h2 {
  font-family: 'Questrial', sans-serif;
  font-size: 1.25em;
  margin-bottom: .3em;
  color: white;
} 

h3 {
  font-family: 'Questrial', sans-serif;
  font-size: 1em;
  margin-top: 1.75em;
  color: white;
}

header {
  padding-top: 5em;
}

li {
  list-style: none;
}



/*--- Landing page ---*/

#landing-page {
  border: 1em solid dimgray;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  text-align: center;
}

.background-box {
  margin-top: -35em;
  margin-left: auto;
  margin-right: auto;
  max-width: 40em;
  height: 40em;
  background-color: dimgray;
  border: 3px dotted white;
}


#prompt-start {
  font-family: 'Questrial', sans-serif;
  font-size: 1.1em;
  margin-top: 3em;
}

#commence-button {
  font-size: 1.75em;
  color: gold;
  padding: .75em;
  background-color: dimgray;
  border-radius: 10px;
  text-align: center;
  border: 2px solid gold;
  font-family: 'Fredoka One', sans-serif;
}

/*--- Quiz interface ---*/

#quiz-interface {
  display: none;
  overflow: hidden;
  border: 1em solid dimgray;
  position: absolute;
  padding-right: .5em;
  padding-top: .5em;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  text-align: center;
}

#quiz-interface > .background-box {
  margin-top: -39.5em;
  margin-left: auto;
  margin-right: auto;
  max-width: 40em;
  height: 40em;
  background-color: dimgray;
}

#quiz-title {
  padding-top: 3.3em;
}

#new-button {
  font-size: 1.5em;
  color: white;
  padding: .75em;
  background-color: dimgray;
  border-radius: 10px;
  text-align: center;
  border: 2px solid white;
  font-family: 'Fredoka One', sans-serif;
  float: right;
}

/*--- Quiz questions ---*/

#pokedex-image {
  margin-top: 0.5em;
}

.question { 
  font-family: 'Questrial', sans-serif;
  margin-top: -22.5em;
  color: white;
}

.answer-options {
  font-family: 'Questrial', sans-serif;
  padding-top: 5em;
  margin-top: 4em;  
  margin-bottom: 3em;
}

.answer-choices {
  margin-left: -3em;
}
